.jumbotron {
    text-align: center;
    background-color: #c0deed;

}

#refresh-button {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    background-color: #c0deed;
    width: 100%;
    height: 50px;
    padding-top: 11px;
}